<form [formGroup]="todoForm" class="todo-container size-{{ size }}">
  <div class="row">
    <textarea
      id="todo-editor"
      class="todo-editor"
      [class.half]="showMarkdown"
      formControlName="text"
      placeholder="New note..."
    ></textarea>
    <markdown-viewer
      [text]="text"
      [format]="showMarkdown"
      class="markdown-viewer"
      [class.hide]="!showMarkdown"
    ></markdown-viewer>
  </div>

  <div *ngIf="todo !== null" class="todo-footer">
    <div class="left">
      <div *ngFor="let file of todo?.files">
        <file
          [todo]="todo"
          [file]="file"
          [removeCallback]="removeCallback"
        ></file>
      </div>
    </div>
    <div class="right">
      <button
        *ngIf="notOnBoard"
        mat-button
        class="btn mat-icon-s"
        matTooltip="Add to board"
        (click)="addToBoard()"
      >
        <mat-icon>unarchive</mat-icon>
      </button>
      <button
        mat-button
        class="btn mat-icon-s"
        matTooltip="Attach file"
        (click)="fileInput.click()"
      >
        <mat-icon>attach_file</mat-icon>
        <input
          #fileInput
          hidden
          type="file"
          (change)="handleAttachFile($event)"
        />
      </button>
      <dropdown-select
        label="Priority"
        controlName="priority"
        [options]="[1, 2, 3]"
      ></dropdown-select>
      <mat-checkbox class="btn" disableRipple formControlName="markdown"
        >M↓</mat-checkbox
      >
      <mat-checkbox class="btn" formControlName="done" disableRipple
        >Done</mat-checkbox
      >
      <confirm-button (action)="deleteTodo()" icon="delete"></confirm-button>
    </div>
  </div>
  <!-- <mat-spinner diameter="16" color="primary"></mat-spinner> -->
</form>
