<form [formGroup]="todoForm" class="todo-container size-{{ size }}">
  <textarea
    id="todo-editor"
    class="todo-editor"
    formControlName="text"
  ></textarea>
  <div *ngIf="todo !== null" class="todo-header">
    <button
      mat-icon-button
      class="btn-m"
      disableRipple
      (click)="resetTodo(true)"
    >
      <mat-icon>note_add</mat-icon>
    </button>
  </div>

  <div *ngIf="todo !== null" class="todo-footer">
    <button
      *ngIf="!todo.boardId"
      mat-icon-button
      matTooltip="Add this todo to a board"
      matTooltipClass="hover-tooltip"
      class="btn-m no-cdk-overlay"
      disableRipple
      (click)="this.addToBoard()"
    >
      <mat-icon class="mat-icon-s">view_day</mat-icon>
    </button>
    <mat-checkbox
      class="btn-m"
      formControlName="done"
      disableRipple
    ></mat-checkbox>
    <confirm-button (action)="this.deleteTodo()" icon="delete"></confirm-button>
  </div>
</form>
