<form [formGroup]="todoForm" class="todo-container size-{{ size }}">
  <div class="row">
    <textarea
      id="todo-editor"
      class="todo-editor"
      [class.half]="showMarkdown"
      formControlName="text"
      placeholder="New note..."
    ></textarea>
    <markdown-viewer
      [text]="text"
      [format]="showMarkdown"
      class="markdown-viewer"
      [class.hide]="!showMarkdown"
    ></markdown-viewer>
  </div>

  <div *ngIf="todo !== null" class="todo-footer">
    <button
      *ngIf="!todo.boardId"
      mat-button
      class="btn pt-2px"
      disableRipple
      (click)="addToBoard()"
    >
      Add to board
    </button>
    <priority-select
      [priority]="todo.priority"
      [handleChange]="changePriority"
    ></priority-select>
    <mat-checkbox class="btn" disableRipple formControlName="markdown"
      >Markdown</mat-checkbox
    >
    <mat-checkbox class="btn" formControlName="done" disableRipple
      >Done</mat-checkbox
    >
    <confirm-button (action)="deleteTodo()" icon="delete"></confirm-button>
  </div>
</form>
