@import "../../../styles.scss";

.dropdown-select {
  @include flex-(row);

  p.label {
    margin: 2px $gap-s 0px 0px;
  }

  &::ng-deep .mat-form-field-underline {
    display: none;
  }
}

.board-form {
  mat-form-field {
    width: 100%;
  }
  margin-bottom: $gap-m;

  mat-button-toggle:not(.mat-button-toggle-checked) {
    background-color: $gray-50;
  }
}
