<mat-sidenav-container class="todos-sidenav-container" [hasBackdrop]="false">
  <mat-sidenav
    class="todos-sidenav"
    #sidenav
    [mode]="'side'"
    [opened]="sidenavOpen"
  >
    <div class="row centered spaced">
      <h3>Your Todos</h3>
      <button
        mat-icon-button
        [class]="'todos-sidenav-toggle'"
        (click)="toggleSidenav()"
        disableRipple
      >
        <mat-icon [class.hide]="!sidenavOpen">chevron_left</mat-icon>
      </button>
    </div>

    <!-- Todo card list -->
    <div
      *ngFor="
        let todo of todosService.currentUserTodos$ | async;
        trackBy: trackById
      "
    >
      <todo-card [todo]="todo" (click)="selectTodo(todo)"></todo-card>
    </div>
    <!-- <div class="todos" cdkDropList cdkDropListOrientation="vertical">
      <div
        cdkDrag
        class="inner-card"
        *ngFor="
          let todo of todosService.currentUserTodos$ | async;
          trackBy: trackById
        "
      >
        <todo-card [todo]="todo" (click)="selectTodo(todo)"> </todo-card>
      </div>
    </div> -->
    <!---------- ---------->
  </mat-sidenav>
  <mat-sidenav-content class="todo-content">
    <button
      mat-icon-button
      [class]="'todos-sidenav-toggle-secondary'"
      [class.hide]="sidenavOpen"
      (click)="toggleSidenav()"
      disableRipple="true"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <todo-editor
      [todo]="this.selectedTodo"
      [size]="this.sidenavOpen ? 2 : 3"
    ></todo-editor>
  </mat-sidenav-content>
</mat-sidenav-container>
