<mat-sidenav-container class="todos-sidenav-container" [hasBackdrop]="false">
  <mat-sidenav
    class="todos-sidenav"
    #sidenav
    [mode]="'side'"
    [opened]="sidenavOpen"
  >
    <div class="row centered spaced">
      <h3>Your Todos</h3>
      <button
        mat-icon-button
        class="todos-sidenav-toggle top"
        (click)="toggleSidenav()"
        disableRipple
      >
        <mat-icon [class.hide]="!sidenavOpen">chevron_left</mat-icon>
      </button>
      <button
        mat-icon-button
        class="todos-sidenav-toggle bottom"
        (click)="handleNewTodo()"
        disableRipple
      >
        <mat-icon class="mat-icon-s" [class.hide]="!sidenavOpen"
          >note_add</mat-icon
        >
      </button>
    </div>

    <!-- Todo card list -->
    <div class="todos-container">
      <div
        class="todo-li"
        *ngFor="
          let todo of (todosService.currentUserTodos$ | async)?.todos;
          index as index;
          trackBy: trackById
        "
        [style.transform]="transform(index)"
      >
        <todo-card
          [todo]="todo"
          [active]="todo.id === todosService.selectedTodo?.id"
          (click)="todosService.selectTodo(todo)"
          [colorTag]="true"
        ></todo-card>
      </div>
    </div>
  </mat-sidenav>

  <!---------- Editor ---------->
  <mat-sidenav-content class="todo-content">
    <button
      mat-icon-button
      class="todos-sidenav-toggle top secondary"
      [class.hide]="sidenavOpen"
      (click)="toggleSidenav()"
      disableRipple
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button
      mat-icon-button
      class="todos-sidenav-toggle bottom secondary"
      [class.hide]="sidenavOpen"
      (click)="handleNewTodo()"
      [ngStyle]="{ bottom: '4px' }"
      disableRipple
    >
      <mat-icon class="mat-icon-s">note_add</mat-icon>
    </button>
    <todo-editor
      [todo]="todosService.selectedTodo"
      [size]="sidenavOpen ? 'half' : 'full'"
    ></todo-editor>
  </mat-sidenav-content>
</mat-sidenav-container>
