<mat-sidenav-container class="todos-sidenav-container" [hasBackdrop]="false">
  <mat-sidenav
    class="todos-sidenav"
    #sidenav
    [mode]="'side'"
    [opened]="sidenavOpen"
  >
    <div class="row centered spaced">
      <h3>Your Todos</h3>
      <button
        mat-icon-button
        [class]="'todos-sidenav-toggle'"
        (click)="toggleSidenav()"
        disableRipple="true"
      >
        <mat-icon [class.hide]="!sidenavOpen">chevron_left</mat-icon>
      </button>
    </div>
    <div *ngFor="let todo of currentUserTodos$ | async; index as i">
      <app-todo [todo]="todo" (click)="selectTodo(todo)"> </app-todo>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      mat-icon-button
      [class]="'todos-sidenav-toggle-secondary'"
      [class.hide]="sidenavOpen"
      (click)="toggleSidenav()"
      disableRipple="true"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <app-editor
      [todo]="this.selectedTodo"
      [size]="this.sidenavOpen ? 2 : 3"
    ></app-editor>
  </mat-sidenav-content>
</mat-sidenav-container>
