@import "../../../styles.scss";

.todos-sidenav-container {
  height: $content-height;
  h3 {
    margin: $gap-m $gap-l;
  }
  .todos-sidenav {
    width: 200px;

    &-toggle {
      @include icon-button;
      position: absolute;
      right: 0px;
      transition: 300ms ease-in;
      z-index: 1;
      mat-icon.hide {
        opacity: 0;
        transition: 100ms ease-in;
      }
      &.secondary {
        @include icon-button;
        position: absolute;
        left: 0px;
        transform: translateY(-1px);
        animation: 300ms ease-out;
        &.hide {
          opacity: 0;
          transform: translate(-40px, -1px);
          transition: 50ms;
        }
      }
      &.top {
        top: 4px;
      }
      &.bottom {
        bottom: 4px;
      }
    }
  }
}

.todos-container {
  position: relative;
  .todo-li {
    position: absolute;
    width: 100%;
    transition: 300ms ease-out;
  }
  > * {
    width: calc(100% - 2 * $gap-m) !important;
    margin: 0px $gap-m $gap-m;
  }
}
