@import "../../../styles.scss";

.todos-sidenav-container {
  height: $content-height;
  h3 {
    margin: $gap-m $gap-l;
  }
  .todos-sidenav {
    width: 200px;
  }
  .todos-sidenav-toggle {
    @include icon-buttons;
    transition: 300ms ease-in;
    mat-icon.hide {
      opacity: 0;
      transition: 150ms ease-in;
    }
    &-secondary {
      @include icon-buttons;
      position: absolute;
      top: 4px;
      left: 0px;
      transform: translateY(-1px);
      animation: 300ms ease-out;
      &.hide {
        opacity: 0;
        transform: translate(-40px, -1px);
        transition: 50ms;
      }
    }
  }
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.5;
  margin: 0 $gap-s;
}

.todos.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}
