@import "../../../styles.scss";

a {
  color: rgb(100, 120, 255);
  text-decoration: none;
}

h2 {
  font-size: 16px;
  margin: 16px;
  text-align: center;
}

h3 {
  font-size: 15px;
  margin: 0px 16px;
  text-align: center;
}

.dark {
  background-color: $black-33;
  border-radius: 4px;
  padding: 12px;
  color: #ffffffb3;
}

.welcome {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.nav-cards {
  display: flex;
  flex-direction: row;
  width: 100%;

  > * {
    margin: 0px 6px;
    flex: 1;
  }
}
