<div class="center-content">
  <div *ngIf="currentUser === undefined">
    <h2>Loading...</h2>
  </div>

  <div *ngIf="currentUser === null">
    <h2>Hello</h2>
    <h3>Log in to use this website's features</h3>
  </div>

  <div *ngIf="currentUser as user" class="welcome">
    <h2>Hello, vist your work via the links below</h2>
    <div class="nav-cards">
      <nav-card
        *ngFor="let link of sideLinks"
        [title]="link.label"
        [href]="link.route"
      ></nav-card>
    </div>
  </div>
</div>
