<main>
  <div *ngIf="!this.currentUser">
    <button mat-raised-button (click)="authService.signinWithGoogle()">
      <img src="/assets/logos/google.svg" /> Login with Google
    </button>
    <br />
    <br />
    <h3>Or</h3>
    <app-email-login></app-email-login>
  </div>
  <div *ngIf="this.currentUser as user">
    <p>
      Logged in as <strong>{{ user.email }}</strong>
    </p>
  </div>

  <button
    *ngIf="this.currentUser"
    mat-stroked-button
    (click)="authService.logout()"
  >
    Logout
  </button>
</main>
