<div
  cdkDropList
  cdkDropListGroup
  class="boards-page"
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="dropBoard($event)"
>
  <board-component *ngFor="let board of boards" [board]="board" cdkDrag>
    <mat-icon cdkDragHandle>drag_indicator</mat-icon>
  </board-component>

  <div class="board-form">
    <button
      mat-raised-button
      color="accent"
      cdkDragDisabled
      (click)="this.boardsService.openBoardDialog()"
    >
      New Board
    </button>
  </div>
</div>
