@import "../../../styles.scss";

.boards-page {
  @include flex-(row);
  @include no-scrollbar;
  padding: $gap-m;
  overflow-x: scroll;

  mat-icon.cdk-drag-handle {
    @include hover-orange;
    @include hover-scale-(0.9, 1);
    cursor: move;
  }
}

.new-board {
  @include flex-(center);
  @include center;
  height: $board-min-height;
  width: $board-width !important;
  min-width: $board-width;
  border: 3px $grey-66 dashed;
  border-radius: 6px;
  padding: 7px;
  margin: $gap-m;
}
