@import "../../../styles.scss";

.boards-page {
  @include flex-(row);
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .board-handle {
    @include hover-($highlight);
    cursor: move;
    transform: translateY(-1px);
  }
}

.new-board {
  @include flex-(center);
  @include center;
  height: $board-min-height;
  width: $board-width !important;
  min-width: $board-width;
  border: 3px $grey-66 dashed;
  border-radius: 4px;
  padding: 7px;
  margin: $gap-m;
}
