@import "../../../styles.scss";

.boards-page {
  @include flex-(row);
  @include no-scrollbar;
  padding: $gap-m;
  overflow-x: scroll;

  mat-icon.cdk-drag-handle {
    @include hover-orange;
    @include hover-scale-(0.9, 1);
    cursor: move;
  }
}

.new-board {
  @include flex-(center);
  @include center;
  height: calc($board-min-height + 2px);
  min-width: calc($board-width + 2px);
  border: 3px $gray-66 dashed;
  border-radius: 6px;
  padding: 7px;
  margin: $gap-m;
}
