<div class="dialog-content">
  <div class="todo-text">
    <markdown-viewer
      *ngIf="todo?.markdown"
      [text]="todo?.text || ''"
      [format]="true"
      class="markdown-viewer"
    ></markdown-viewer>
    <div *ngIf="!todo?.markdown">{{ todo?.text }}</div>
  </div>
  <form [formGroup]="todoForm" class="footer baseline-end" [class.show]="show">
    <dropdown-select
      label="Priority"
      formControlName="priority"
      [options]="[1, 2, 3]"
    ></dropdown-select>
    <mat-checkbox class="btn" formControlName="done" disableRipple
      >Done</mat-checkbox
    >
  </form>
</div>
