<div>
  <h3>Add todo to a board</h3>
  <div class="dialog-content small">
    <div *ngFor="let board of boardsService.currentUserBoards$ | async">
      <button
        mat-button
        class="list-option"
        (click)="select(board)"
        [disabled]="todoPresentInBoard(board)"
      >
        {{ board.name }}
      </button>
    </div>
  </div>
  <div class="dialog-footer">
    <button
      mat-raised-button
      color="accent"
      (click)="boardsService.openBoardDialog()"
    >
      New Board
    </button>
  </div>
</div>
