<mat-card [class]="className">
  <mat-card-header>
    <mat-card-title class="board-name">
      {{ board.name }}
    </mat-card-title>
    <ng-content></ng-content>
  </mat-card-header>

  <div
    cdkDropList
    [id]="board.id"
    cdkDropListOrientation="vertical"
    [cdkDropListData]="todos"
    (cdkDropListDropped)="todoListDrop($event)"
    [ngStyle]="{ minHeight }"
    class="todos-list"
  >
    <div
      cdkDrag
      (cdkDragStarted)="todoDragStart()"
      (cdkDragReleased)="todoDragReleased($event)"
      *ngFor="let todo of todos; index as index; trackBy: trackById"
      [cdkDragData]="todo"
    >
      <todo-card
        [todo]="todo"
        [triggerModal]="true"
        [editCallback]="editCallback"
        [colorTag]="false"
      >
        <mat-icon cdkDragHandle halt-event (click)="haltEvent($event)"
          >drag_indicator</mat-icon
        >
      </todo-card>
    </div>
  </div>

  <div class="todo-actions" [class.show]="showTodoOptions">
    <div
      cdkDropList
      [cdkDropListData]="toDelete"
      (cdkDropListDropped)="deleteTodoDrop($event)"
      class="dropzone delete"
      [id]="'delete-dropzone'"
    >
      <h3>Remove</h3>
    </div>
  </div>
  <div class="board-actions">
    <div></div>
    <confirm-button
      (action)="handleDelete()"
      [icon]="'delete'"
    ></confirm-button>
  </div>
</mat-card>
