@import "../../../styles.scss";

.board {
  @include flex-(column);
  width: $board-width;
  margin: $gap-m;
  padding: $gap-m;
  background: $grey-66;
  min-height: $board-min-height;
  transition: $transition-normal;

  mat-card-header {
    @include flex-(row);
    justify-content: space-between;
    align-items: center;
    margin: $gap-m;
    .board-name {
      @include ellipsis;
      font-size: 18px;
      max-width: 250px;
    }
  }

  .todos-list {
    min-height: calc(3 * $todo-card-height + 20px);
    > * {
      margin: 0px $gap-m $gap-m;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .board-actions {
    @include flex-(row);
    margin-top: auto;
    justify-content: space-between;
  }

  .todo-actions {
    @include flex-(row);
    justify-content: space-between;
    margin: 0px;
    transition: $transition-normal;
    height: 20px;
    h3 {
      display: none;
    }
    .dropzone {
      margin: 0px $gap-m;
      border: none;
      border-radius: 6px;
      width: calc($board-width - 2 * $gap-m);
      transition: $transition-normal;

      > :not(h3) * {
        opacity: 0;
      }
    }
    &.show {
      margin-top: $gap-m;
      height: $todo-card-height;
      h3 {
        &:not(:only-child) {
          display: none;
        }
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: gainsboro;
        margin: 0px;
        transition: $transition-fast;
      }
      .dropzone {
        @include flex-(column);
        @include center;
        transition: $transition-normal;
        &.cancel {
          border: 2px dashed grey;
        }
        &.delete {
          border: 2px dashed indianred;
          .cdk-drag-placeholder {
            width: 80%;
            opacity: 0.25;
          }
        }
      }
    }
  }
}

mat-icon.cdk-drag-handle {
  @include hover-($highlight);
  @include hover-scale-(0.8, 0.9);
  cursor: move;
  margin-left: auto;
}

.blue {
  background: #71deff;
  color: black;
}
.green {
  background: #36e9b6;
  color: black;
}
.yellow {
  background: #ffcf44;
  color: black;
}
.purple {
  background: #b15cff;
}
.red {
  background: #e74a4a;
}
.gray {
  background: gray;
  text-decoration: line-through;
}
