<mat-card class="board">
  <mat-card-header>
    <mat-card-title class="board-name">
      {{ board.name }}
    </mat-card-title>
    <ng-content></ng-content>
  </mat-card-header>

  <div
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="dropTodo($event)"
  >
    <div cdkDrag *ngFor="let todo of board.todos">
      <todo-card [todo]="todo">
        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
      </todo-card>
    </div>
  </div>
  <div class="board-actions">
    <!-- <button mat-stroked-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button> -->
    <div></div>
    <confirm-button
      (action)="handleDelete()"
      [icon]="'delete'"
    ></confirm-button>
  </div>
</mat-card>
