<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    position="end"
    fixedInViewport
    [opened]="false"
    [autoFocus]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngFor="let link of sideLinks">
      <a
        *ngIf="link"
        mat-list-item
        routerLink="{{ link.route }}"
        (click)="drawer.close()"
        >{{ link.label }}</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span routerLink="/" class="link">
        <h1 class="nav-title">看板</h1>
      </span>

      <span class="fill-space"></span>

      <button mat-icon-button class="link" (click)="drawer.toggle()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <!-- <div class="center-content" *ngIf="authLoading | async">
      <mat-spinner diameter="40" class="spinner"></mat-spinner>
    </div> -->
    <!-- <ng-content *ngIf="!(authLoading | async)"> </ng-content> -->

    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
