<mat-card>
  <div *ngIf="isSignup">
    <h3>Create Account</h3>
  </div>

  <div *ngIf="isLogin">
    <h3>Sign In</h3>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="email?.valid && 'accent'">
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off"
      />
      <mat-error *ngIf="email?.invalid && email?.dirty">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field [color]="email?.valid && 'accent'">
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        autocomplete="off"
      />

      <mat-error *ngIf="password?.invalid && password?.dirty">
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field
      [color]="passwordsMatch ? 'accent' : 'warn'"
      *ngIf="isSignup"
    >
      <input
        matInput
        formControlName="passwordConfirm"
        type="password"
        placeholder="Confirm password"
        autocomplete="off"
      />

      <mat-error *ngIf="passwordConfirm?.dirty && !passwordsMatch">
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <mat-error class="server-error">{{ serverMessage }}</mat-error>

    <div class="footer-buttons">
      <div *ngIf="isSignup">
        <button
          size="small"
          mat-stroked-button
          (click)="changeType(LoginFormType.LOGIN)"
        >
          Returning user?
        </button>
      </div>
      <div *ngIf="isLogin">
        <button
          size="small"
          mat-stroked-button
          (click)="changeType(LoginFormType.SIGNUP)"
        >
          New user?
        </button>
      </div>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="form.invalid || !passwordsMatch || loading"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
