@import "../../../../scss/mixins.scss";

mat-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  transform: 300ms;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.server-error {
  margin: 8px 0;
}

input {
  height: 2em;
  .mat-form-field-infix {
    padding: 0.3em 0;
    input.mat-input-element {
      vertical-align: top;
    }
  }
}

.mat-form-field-wrapper {
  padding-bottom: 1.15em;
}

.footer-buttons {
  @include flex-(row);
  justify-content: space-between;
}
