@import "../../../styles";

mat-card.todo {
  cursor: pointer;
  background-color: $black-33;
  height: 24px;
  transition: $transition-normal;
  overflow: hidden;

  &.active {
    box-shadow: 0 0 0px 1px #f5ab63;
  }
  .content {
    @include flex-(row);
    max-width: calc(100% - 30px);
    mat-icon {
      &.check {
        min-width: 21px;
      }
    }
  }
}

.tag {
  position: absolute;
  bottom: 2px;
  right: 2px;
  border-top: 10px solid $black-33;
  border-right: 10px solid transparent;
  height: 0;
  width: 0;
  border-bottom-right-radius: 3px;
}
