@import "../../../styles";

mat-card.todo {
  background-color: $black-33;
  transition: $transition-normal;
  height: 24px;
  cursor: pointer;
  &.active {
    box-shadow: 0 0 0px 1px #f5ab63;
  }
  .content {
    @include flex-(row);
    max-width: calc(100% - 30px);
    mat-icon {
      &.check {
        min-width: 21px;
      }
    }
  }
}
