@mixin flex-($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin icon-button {
  color: $highlight;
  transition: 300ms;
  transform: translateY(-1px);
}

@mixin hover-($color) {
  transition: 300ms;
  &:hover {
    color: $color;
  }
}

@mixin hover-scale-($small, $big) {
  transform: scale($small);
  transition: 300ms;
  &:hover {
    transform: scale($big);
  }
}
