@mixin flex-($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin icon-button {
  color: $highlight;
  transition: 300ms ease-in-out;
  transform: translateY(-1px);
}

@mixin hover-($color) {
  &:hover {
    color: $color;
  }
}
