@import "./variables.scss";

@mixin flex-($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin icon-button {
  @include btn-orange;
  transition: $transition-normal;
  transform: translateY(-1px);
}

@mixin hover-orange {
  &:hover {
    cursor: pointer;
    color: $orange-light;
  }
  &:active {
    color: $orange;
  }
}

@mixin btn-orange {
  @include hover-orange;
  color: $orange;
}

@mixin hover-($color) {
  transition: $transition-normal;
  &:hover {
    color: $color;
  }
}

@mixin hover-scale-($small, $big) {
  transform: scale($small);
  transition: $transition-normal;
  &:hover {
    transform: scale($big);
  }
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
