@import "./variables.scss";

mat-sidenav-content.todo-content {
  overflow-y: hidden;
}

.mat-card-header-text {
  margin: 0px !important;
}

mat-card-title {
  margin: 2px !important;
}

mat-card-subtitle {
  &.todo-title {
    @include ellipsis;
    margin: 0px;
    margin-right: $gap-s;
    line-height: 24px;
  }
}

mat-dialog-container {
  padding: $gap-xl !important;
}

.mat-dialog-actions,
.mat-dialog-content {
  margin: 0px !important;
  padding: 0px !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(170, 170, 170, 0.4);
}

.mat-icon-s {
  // @include hover-($highlight);
  transform: scale(0.8);
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.25;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.no-cdk-overlay {
  .cdk-program-focused {
    background-color: transparent !important;
  }
  .mat-button-focus-overlay {
    display: none;
  }
}
