$gap-xs: 4px;
$gap-s: 6px;
$gap-m: 10px;
$gap-l: 12px;
$gap-xl: 16px;

$top-navbar-height: 56px;
$content-height: calc(100vh - $top-navbar-height);

$black: rgb(33, 33, 33);

$board-width: clamp(300px, 25vw, 400px);
$board-min-height: 215px;

$grey-66: rgb(66, 66, 66);
$grey-48: rgb(48, 48, 48);

$highlight: orange;
